%flex-column {
  display: flex;
  flex-direction: column;
}


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   @extend %flex-column;
   align-items: center;
   justify-content: center;
   background-image: url('../img/default.jpeg');
   background-size: cover;

   .searchContainer {
      @extend %flex-column;

      #searchField {
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 5px;
      }

      #searchButton {
        font-size: 1.5em;
        padding: 10px;
        width: 50%;
        margin: 0 auto;
      }
   }
}