%flex-column {
  display: flex;
  flex-direction: column;
}

$primary-color: #F7F7FF;


body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   @extend %flex-column;
   align-items: center;
   justify-content: center;
   background-image: url('../img/default.jpeg');
   background-size: cover;

   .searchContainer {
      @extend %flex-column;
      transition: .8s;

      #searchField {
        font-size: 1.5em;
        padding: 10px;
        margin-bottom: 5px;
        background-color: $primary-color;
      }

      #searchButton {
        font-size: 1.5em;
        padding: 10px;
        width: 50%;
        margin: 0 auto;
        background-color: $primary-color;
      }
   }

   .weatherContainer {
     background-color: $primary-color;
     margin-top: 100px;
     padding: 100px;
   }
}